body {
  background-color: #22396a;
  color: white;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  color: #31bb66;
}
.underline {
  color: red;
  border-bottom: 1px solid red;
  font-size: 15px;
  margin-right: 25px;
}
footer {
  text-align: center;
}
